.container{
  max-width:240px;
  margin:auto;
  padding-left:5px;
  padding-right:5px;

}
.col-4{

  flex-basis:25%;
  padding:2px;
  min-width:100px;
  margin-bottom:10px
  transition:transform 0.5s;
}
.col-4 img{
  width:100%;
}
.mak{
  text-align: center;
  margin:0 auto 80px;
  postion:relative;
  line-height:60px;

}
.mak::after{
  content:'';
  background:#ff523b;
  width:100px;
  height:5px;
  border-radius:5px;
  position:absolute;
  bottom:520px;
  left:50%;
  transform:translatex(-50%);

}
h4{
  color:#555;
  font-weight:normal;
}
.col-4 p{
  font-size:14px;
}
.rating .fas{
  color:#ff523b;
}
.col-4:hover{
  transform:translateY(-12px);
}
.fnt{
  font-family: Arial, Helvetica, sans-serif;
}
.mak{
  font-family: "Lucida Console", "Courier New", monospace;
}
div.a1 {
   -webkit-text-decoration-line: line-through; /* Safari */
   text-decoration-line: line-through;
}
